:root {
    --scroll-offset: 0;

    --scroll-bg: -1px;
    --scroll-mg: -1px;
    --scroll-fg: -1px;
}

body {
    margin: 0;
    padding: 0;
    background: url('../img/bg/bg_SKY.png') repeat-x fixed center / auto 100vh;
}

#parallax_container {
    background-image: url('../img/bg/bg_FG.png'), url('../img/bg/bg_MG.png'), url('../img/bg/bg_BG.png');
    background-position: left var(--scroll-fg), left var(--scroll-mg), left var(--scroll-bg);
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-size: 100%;
    margin: 0;
    padding: 0;
    backdrop-filter: saturate(180%) blur(20px);
}