table#leaderboard {
	width: 100%;
  max-width: 640px;
	margin: 16px auto;
}

table#leaderboard td {
	text-align: center;
	color: rgb(52, 152, 246);
	padding: 8px 4px;
}

table#leaderboard thead td {
	color: white;
	text-decoration: underline;
}

tr.lb1 td {
	color: rgb(254, 94, 69) !important;
}

tr.lb2 td {
	color: yellow !important;
}

tr.lb3 td {
	color: rgb(91, 241, 91) !important;
}

tr.lb4 td {
	color: rgb(91, 241, 181) !important;
}

tr.lb5 td {
	color: rgb(91, 241, 241) !important;
}

.prSco {
  text-align: right !important;
	padding-right: 3% !important;
}

/* ======================================================================== */
/* RESPONSIVENESS  HANDLED BY TABLE*/
