/* .keyboard {
	border: 1px solid peru; 
} */

.keys {
	display: flex;
	justify-content: center;
	margin: 0px;
}

/* .keys img {
	transition: 0.1s;
} */

.caps img {
	width: 70px;
}

.med img {
	width: 50px;
}

.space img {
	width: 300px;
}

.enter img {
	width: 70px;
}

.Shift img {
	width: 80px;
}

.active {
	scale: 0.85;
}