#game_screen {
  width: 360px;
  height: 160px;
  overflow: hidden;
  margin-inline: auto;
  margin-block: 4em;
  background-image: url('bg.png'); /* placeholder */
}

.gameover-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.gameover-div.win {
  color: rgb(255, 221, 71);
}

.gameover-div.lose {
  color: rgb(255, 0, 43);
}

.game-states {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 110px;
  left: 5px;
  gap: 0;
  font-size: 8px;
  color: rgb(252, 73, 73);
  z-index: 12;
}

.game-states p {
  margin: 0;
}

/* Smallest (270px) */
@media (max-width: 270px) {
  #game_screen {
    transform: scale(0.5, 0.5);
  }
}

/* Small (540px) */
@media (min-width: 271px) and (max-width: 540px) {
  #game_screen {
    transform: scale(1.2, 1.2);
  }
}

/* Medium (960px) */
@media (min-width: 541px) and (max-width: 960px) {
  #game_screen {
    transform: scale(1.5, 1.5);
  }
}

/* Large (1440px) */
@media (min-width: 961px) and (max-width: 1440px) {
  #game_screen {
    transform: scale(2.2, 2.2);
  }
}

/* Extra Large (Above 1440px) */
@media (min-width: 1441px) {
  #game_screen {
    transform: scale(3, 3);
  }
}
