/* outer div */
.enemy {
  position: absolute;
  top: 100px;
  width: 16px; /* override with js */
  height: 16px; /* override with js */
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 10s; /* override with js */
  border: 1px solid red;
  z-index: 5;
}

/* inner div */
.enemy-sprit {
  width: 100%;
  height: 100%;
}

.enemy.move {
  animation-name: moveLeft;
}

.enemy.move.stop {
  animation-play-state: paused;
}

.enemy-info {
  position: relative;
  top: -12px;
  width: 50px;
  color: white;
  font-size: 0.5rem;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-460px); /* 360px screen + max 100px width buffer */
  }
}
