.enemy {
  position: absolute;
  top: 100px;
  right: -100; /* override with js */
  width: 32px; /* override with js */
  height: 32px; /* override with js */
  background-color: red; /* override with js */
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.enemy.move {
  animation-name: moveLeft;
  animation-duration: 5s; /* override with js */
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-460px); /* 360px screen + max 100px width buffer */
  }
}
